body{
	font:15px/1.5 Arial ,helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color: #f4f4f4;
}
/*container*/

.container{
	width:90%;
	margin:auto;
	overflow:hidden;
}
/*header*/

ul{
	margin:0;
	padding:0;
}
.button_1{
	height:20px;
	background: #e8491d;
	border: 0;
	padding-left:3px;
	padding-right:5px;
	color:#ffffff;
}

header{
	background-color:grey;
	color:white;
	padding-top:30px;
	min-height:70px;
	border-bottom:red 3px solid;
}
header a{
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	font-size:13px;

}
header li{
	float:left;
	display:inline;
	padding:0 10px 0 10px;
    
}
header h1{
	font-size:32px;
	float:left;
	margin-left:0px;
	padding-left:0px;
}
header #branding{
	float:left;
}
header #branding h1{
	margin:0;	
}
header nav{
	float:right;
	margin-top:10px;
}	
header .highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
}
header a:hover{
	color:#cccccc;
	font-weight:bold;
}
/*showcase*/

#showcase{
	min-height:300px;
	background:url('../image1/showcase.jpg');
	text-align:center;
	color:white;
	background-image: no re;
}
#showcase h2{
	margin-top:20px;
	font-size:30px;
	margin-bottom:25px;
}
#showcase p{
	font-size:18px;
}
#newsletter{
	padding: 15px;
	color: #ffffff;
	background:#35424a;
}
#newsletter h2{
	float: left;
	font-size:18px;
}
#newsletter form{
	float: right;
	margin-top:15px;
}
#newsletter input[type="email"]
{
	padding:1px;
	height:15px;
	width:150px;
}
/*boxes*/
#boxes{
	margin-top:20px;
}
#boxes .box{
    float:left;
	width:25%;
	padding:10px;
	text-align:center;
}
#boxes .box img{
	width:90px;
}
footer{
	padding:8px;
	margin-top:10px;
	color:#ffffff;
	background-color:#e8491d;
	text-align:center;
}









